/* ≥ 1200px - Large Desktop*/

@media only screen and (min-width: 1280px) {

}

/* ≥ 992px - Medium Desktop*/

@media only screen and (min-width: 992px) {
    .one, .two, .three, .four, .five {
        width: 19.6%;
    }
}

/* ≥ 768px - Tablet*/

@media only screen and (min-width: 768px) and (max-width: 992px){
    header, #home {
        margin: 30px 40px;
    }
    
    .modal h1 {
        font-size: 20px;
    }
    
    .modal p {
        font-size: 14px;
    }
    
    .content .intro {
       margin-top: 17%;
    }
    
    .content .intro p {
       width: 90%;
    }
    
    .content .second,
    .content .third,
    .content .fourth {
        margin-top: 10%;
    }
    
    .one, .two, .three, .four, .five {
        width: 19.5%;
    }
    
    .content .options li {
        display: inline-block;
        width: 27%;
        cursor: pointer;
    }
    
    .content .options .two {
        margin-left: 9.5%;
    }
    
    .content .fourth .round {
        width: 30px;
        height: 30px;
        /*    background-color: #96c963;*/
        border: 4px solid #96c963;
        opacity: 0.5;
    }

    .content .fourth .levels {
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
    }

    .content .fourth .time {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .content .fourth .skills {
        width: 100%;
        float: none;
    }
    
    .content .final {
        width: 50%
    }
    
    .content .result .radish {
        width: 25%;
        margin-left: 5%;
    }
    
    .content .result p {
        width: 100%;
    }
    
    .modal .b-final .download {
        width: 45%;
    }
    
    footer .path {
        width: 24.4%;
    }
}

/* < 768px - Mobile*/

@media only screen and (max-width: 768px) {
    header, #home {
        margin: 30px 25px;
    }
    
    footer {
        display: none;
        visibility: hidden;
    }
    
    #home .intro {
        position: absolute;
    }
    
    #home h1 {
        font-weight: 400;
        font-size: 28px;
        margin: 0;
    }

    #home p {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }

    #home button {
        background-color: white;
        height: 60px;
        font-size: 20px;
        width: 87%;
        position: absolute;
        bottom: 20px;
    }
    
    .modal {
        width: 90%;
        margin-left: 5%;
        height: 85%;
    }
    
    .content {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 60px;
    }
    
    #intro {
        margin-top: 100px;
    }
    
    .content .second, .content .third, .content .fourth {
        padding-right: 0;
        padding-left: 0;
    }
    
    .content h1 {
        width: 100%;
        font-size: 22px;
    }
    
    .content #intro p {
        width: 100%;
    }
    
    .content .options ul {
        width: 100%;
        margin-left: 0;
        margin-top: 20%;
    }
    
    .content .options li {
        display: inline-block;
        width: 27%;
        cursor: pointer;
    }
    
    .content .options .two {
        margin-left: 9.5%;
    }
    
    .content .fourth .levels {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    } 
    
    .content .fourth .time {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    
    .content .fourth .skills {
        width: 100%;
        float: none;
    }
    
    .content .fourth h2 {
        display: block;
        text-align: left;
    }
    
    .content .fourth .circles {
        display: block;
        float: left;
        width: 85%;
    }

    .content .fourth .levels p {
        float: left;
        text-align: left;
    }
    
    .modal #bottom p {
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
        font-size: 14px;
    }
    
    .content .final {
        width: 80%;
        margin-bottom: 0;
    }
    
     .content .result p {
        width: 100%;
    }
    
    .content .result .radish {
        width: 35%;
        margin-left: 32.5%;
        margin-top: 0;
    }
    
    .modal .b-final p {
        width: 90%;
    }
    
     .modal .b-final .download {
        width: 75%;
    }
    
    .modal .b-final .apple {
        margin-right: 10px;
    }

}