/* ≥ 1200px - Large Desktop*/

@media only screen and (min-width: 1200px) {

}

/* ≥ 992px - Medium Desktop*/

@media only screen and (min-width: 992px) {
    .one, .two, .three, .four, .five {
        width: 19.6%;
    }
}

/* ≥ 768px - Tablet*/

@media only screen and (min-width: 719px) and (max-width: 992px){
    header, #home {
        margin: 30px 40px;
    }
    
    .modal h1 {
        font-size: 20px;
    }
    
    .modal p {
        font-size: 14px;
    }
    
    .content .intro {
       margin-top: 17%;
    }
    
    .content .intro p {
       width: 90%;
    }
    
    .content .second,
    .content .third,
    .content .fourth {
        margin-top: 10%;
    }
    
    .one, .two, .three, .four, .five {
        width: 19.5%;
    }
    
    .content .options li {
        display: inline-block;
        width: 27%;
        cursor: pointer;
    }
    
    .content .options .two {
        margin-left: 9.5%;
    }
    
    .content .fourth .round {
        width: 30px;
        height: 30px;
        /*    background-color: #96c963;*/
        border: 4px solid #96c963;
        opacity: 0.5;
    }

    .content .fourth .levels {
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
    }

    .content .fourth .time {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .content .fourth .skills {
        width: 100%;
        float: none;
    }
    
    .content .final {
        width: 50%
    }
    
    .content .result .radish {
        width: 25%;
        margin-left: 5%;
    }
    
    .content .result p {
        width: 100%;
    }
    
    .modal .b-final .download {
        width: 45%;
    }
    
    footer .path {
        width: 24.4%;
    }
}

/* < 768px - Mobile*/

@media only screen and (max-width: 719px) {
    header, #home {
        margin: 30px 25px;
    }
    
    #home .intro {
        position: absolute;
    }
    
    #home h1 {
        font-weight: 400;
        font-size: 28px;
        margin: 0;
    }

    #home p {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }

    #home button {
        background-color: white;
        height: 60px;
        font-size: 20px;
        width: 87%;
        position: absolute;
        bottom: 20px;
    }
    
    .content .options li {
        display: inline-block;
        width: 27%;
        cursor: pointer;
    }
    
    .content .options .two {
        margin-left: 9.5%;
    }
}